@page
@model Auto.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Подробности";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Пользователь</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel.FirstName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel.Patronymic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel.Patronymic)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel.Birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel.Birthdate)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel.Email)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel.PhoneNumber)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel.UserName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel.UserName)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel.SchoolName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel.SchoolName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel.RoleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel.RoleName)
        </dd>
    </dl>
</div>
@if (Model.UserModel.Tests.Any())
{
    <br/>
    <h4>Тесты</h4>
    <div class="list-group list-group-horizontal">
        @foreach (var test in Model.UserModel.Tests)
        {
            <div class="@test.StatusColor list-group-item">
                @test.TicketNumber
            </div>
        }
    </div>
}
@if (Model.UserModel.Bookings.Any())
{
<br/>
<h4>Бронирования</h4>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserModel?.Id">Редактировать</a> |
    <a asp-page="./Index">Обратно к списку</a>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserModel.Bookings[0].isClosed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserModel.Bookings[0].Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserModel.Bookings[0].Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserModel.Bookings[0].ScheduleItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserModel.Bookings[0].Teacher)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.UserModel.Bookings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.isClosed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleItem.TimeString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.FullName)
            </td>
            <td>
                <a asp-page="/Booking/Edit" asp-route-id="@item.BookingId">Редактировать</a> |
                <a asp-page="/Booking//Details" asp-route-id="@item.BookingId">Подробнее</a> |
                <a asp-page="/Booking//Delete" asp-route-id="@item.BookingId">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>
}
