@page
@using Auto.Helpers
@model IndexModel

@{
    ViewData["Title"] = "Тестирование ГИБДД";
}

<h1>@ViewData["Title"]</h1>

<h2>Выберите номер билета</h2>

<div class="list-group list-group-horizontal d-flex flex-row flex-wrap">
    @foreach (var ticket in Model.Tickets)
    {
        <a class="@BackgroundHelper.GetColor(ticket.Status) list-group-item list-group-item-action"
           style="width: 3rem"
           asp-page="./Executing"
           asp-route-ticket="@ticket.TicketNumber"
           asp-route-testId="@ticket.Test?.TestId">
            @ticket.TicketNumber
        </a>
    }
</div>
