@page
@model RazorHostel.Pages.Room.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Rooms</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomEntity[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomEntity[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomEntity[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomEntity[0].Square)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomEntity[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomEntity[0].Hostel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomEntity[0].Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RoomEntity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Square)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                  <a asp-page="/Hostel/Details" asp-route-id="@item.IdRoom">@item.Hostel.Name</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdRoom">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdRoom">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdRoom">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
