@page
@model RazorHostel.Pages.Hostel.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HostelEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HostelEntity.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HostelEntity.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HostelEntity.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HostelEntity.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HostelEntity.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HostelEntity.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HostelEntity.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HostelEntity.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HostelEntity.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HostelEntity.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HostelEntity?.IdHostel">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
