@page
@model RazorHostel.Pages.Booking.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingEntity[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingEntity[0].Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingEntity[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingEntity[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingEntity[0].Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookingEntity) {
        <tr>
            <td>
                <a asp-page="/Client/Details" asp-route-id="@item.IdClient">@item.Client.FullName</a>
            </td>
            <td>
                <a asp-page="/Room/Details" asp-route-id="@item.IdRoom">@item.Room.Name</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdBooking">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdBooking">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdBooking">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
