@page
@model Auto.Pages.Bookings.DeleteModel

@{
    ViewData["Title"] = "Удаление";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h3>Вы уверены что хотите удалить запись?</h3>
<div>
    <h4>Бронирование №@Model.Booking.BookingId</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Client.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Teacher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Teacher.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.School)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.School.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.ScheduleItem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.ScheduleItem.TimeString)
        </dd>
    </dl>

    <br/>
    <form method="post">
        <input type="hidden" asp-for="Booking.BookingId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Обратно к списку</a>
    </form>
</div>
