@page
@model Auto.Pages.School.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SchoolEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolEntity.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolEntity.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolEntity.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolEntity.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolEntity.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolEntity.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolEntity.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolEntity.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolEntity.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolEntity.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SchoolEntity.IdSchool" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
