@page
@model Auto.Pages.School.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SchoolEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolEntity.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolEntity.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolEntity.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolEntity.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolEntity.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolEntity.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolEntity.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolEntity.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolEntity.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolEntity.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SchoolEntity?.IdSchool">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
